
<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="login-content" padding>

  <div class="login-box">
    
    <form (ngSubmit)="login()" [formGroup]="loginForm">

      <ion-list inset>
        
        <ion-item>
          <ion-input type="text" placeholder="Email" formControlName="email" required></ion-input>
        </ion-item>

        <div *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
          <small class="danger">It should be a valid email</small>
        </div>
        
        <ion-item>
          <ion-input type="password" placeholder="Password" formControlName="password" required></ion-input>
        </ion-item>

        <div *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
            <small class="danger">It should be at least 6 characters</small>
          </div>
        
      </ion-list>
  
      <div class="form-error">{{loginError}}</div>

      <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.valid">Login</button>

      
    </form>

    <ion-list padding>

        <div class="login-footer">
            <p>
              <a href="#">Forgot password?</a>
              If you're a new user, create new account.
            </p>
        </div>

      <button ion-button icon-left block clear (click)="loginWithGoogle()">
        <ion-icon name="logo-google"></ion-icon>
        Log in with Google
      </button>

      <button ion-button icon-left block clear (click)="createAccount()">
        <ion-icon name="person-add"></ion-icon>
        Create New Account</button>

    </ion-list>

  </div>
</ion-content>
