
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div *ngFor="let user of userDetails">
      <h1>Welcome {{ user.fullname }}!</h1>

      <h2>Balance: £{{ user.balance }}</h2>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button block icon-end (click)="viewContacts()">
          Pay Contacts
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block icon-end (click)="viewTransactions()">
          All Transactions
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <h2>Summary</h2>

  <ion-list>
    <ion-item *ngFor="let data of accountSummary;">
      {{data.type}}: <span style="float:right; font-size:1.5em;">£{{data.total}}</span>
    </ion-item>
  </ion-list>

  <button ion-button block icon-end (click)="viewTransactions()">
    View all
    <ion-icon name="ios-arrow-forward"></ion-icon>
  </button>

</ion-content>
