<ion-header>
  <ion-navbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div *ngFor="let user of userDetails;">
      <h1>Welcome {{ user.fullname }}!</h1>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button block icon-end large>
          Pay Contacts
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block icon-end large (click)="viewTransactions()">
          All Transactions
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list inset>
    <button ion-item *ngFor="let item of transactions; let i = index" (click)="itemSelected(i)">
        <h2>{{ item.description }}</h2>
        <p>£{{ item.amount }}</p>
    </button> 
  </ion-list>

</ion-content>
